DEBUG=False
SECRET_KEY=buraya-uzun-guclu-bir-secret-key-yaz
ALLOWED_HOSTS=fms-line.com,www.fms-line.com
CSRF_TRUSTED_ORIGINS=https://fms-line.com,https://www.fms-line.com

# Render PostgreSQL kullanıyorsan otomatik verir. Lokal sqlite için boş bırakılabilir.
# DATABASE_URL=

# Cloudinary kullanacaksan Render Environment içine gir.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
